@use "../util/" as *;

.button {
  &__login {
    button {
      max-width: rem(400);
      width: 80vw;
      cursor: pointer;
      border: none;
      border-radius: rem(50);
      padding: rem(8) 0;
      font-weight: 500;
      font-size: rem(18);
      background-color: var(--warna-putih);
      transition: all 0.5s ease;
      @include breakpoint(large) {
        width: rem(130);
      }
    }
    button:hover {
      color: var(--warna-hitam);
      background-color: var(--warna-abu-abu);
    }
  }
  &__signup {
    button {
      max-width: rem(400);
      width: 80vw;
      cursor: pointer;
      border: solid rem(1) black;
      border-radius: rem(50);
      padding: rem(8) 0;
      font-weight: 500;
      font-size: rem(18);
      color: var(--warna-putih);
      background-color: black;
      transition: all 0.5s ease;
      @include breakpoint(large) {
        width: rem(130);
      }
    }
    button:hover {
      color: var(--warna-hitam);
      background-color: var(--warna-putih);
      border: solid rem(1) var(--warna-hitam);
    }
  }
}
