@use "../util/" as *;

.navbar {
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(20) rem(20);
  max-width: rem(506);
  margin: 0 auto;
  @include breakpoint(large) {
    max-width: rem(1200);
    padding: rem(40) rem(50);
  }
  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: 5px;
      width: rem(20);
      padding: rem(10) 0;
    }
    h1 {
      align-items: center;
      font-size: rem(18);
      font-weight: 500;
      @include breakpoint(large) {
        font-size: rem(24);
      }
    }
  }
  &__button {
    display: none;
    gap: rem(14);
    @include breakpoint(large) {
      display: flex;
    }
  }
}

.navbar-note {
  max-width: rem(1200);
  height: 5rem;
  background-color: var(--warna-putih);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 40px;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: rem(5);
      width: rem(25);
    }
    h1 {
      font-size: rem(20);
      font-weight: 500;
    }
  }
}
