@use "../global";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
}
button {
  font-family: var(--font-inter);
}
textarea {
  font-family: var(--font-inter);
}
input {
  font-family: var(--font-inter);
}
