@use "../util/" as *;

.notepage {
  height: 100vh;
  overflow: hidden;
  &__wrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
  }
  &__container {
    margin: 0 auto;
    max-width: rem(1200);
    padding: 0 rem(40);
  }
  &__kosong {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__list {
    padding: rem(70) 0 rem(100) 0;
  }
}
